html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, main {
  background-color: #bebebe;
  margin: 0;
  padding: 0;
}

main ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0;
  padding: 1rem;
}

header {
    background-color: #bd027d;

}

h1 {
  margin: 0;
  padding: 0;
  align-items: center;
}

li {
  margin: 1.5rem;
  background-color: #afafaf;
  border: 2px solid #afafaf;
  opacity: 0.6;
}

h3 {
  margin: 1.5rem;
  font-weight: bold;
  color: #000000;
}

section ul {
  display: flex;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div {
  display: flex;
}


div img {
  max-width: 1rem;
  order: -1;
}
